.app-body {
	display: flex;
}

html, body {
	height: 100%;
}

header {
	flex: 1 1 100%;
	position: fixed;
	height: 10vh;
	width: 100%;
	background-color: #2C3E50;	
	display: flex;
}

header {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
	margin: 2%;
}

header div > * {
	display: inline-block;
}

.sidebar {
	width: 200px;
	height: 90vh;
	margin-top: 10vh;
	position: fixed;
	background-color: #ECF0F1;
    transition: transform 0.5s; 
}

.sidebar-hidden .sidebar {
    transform: translateX(-200px);
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}

.fa-facebook {
	padding: 1%;
}
/*https://color.adobe.com/nl/Flat-UI-color-theme-2469224/edit/?copy=true&base=1&rule=Custom&selected=2&name=Kopie%20van%20Flat%20UI&mode=rgb&rgbvalues=0.172549,0.243137,0.313725,0.905882,0.298039,0.235294,0.92549,0.941176,0.945098,0.203922,0.596078,0.858824,0.160784,0.501961,0.72549&swatchOrder=0,1,2,3,4*/

.test:before {
	content: "\E03E";
}

.content {
	margin-top: 10vh;
	margin-left: 200px;
	margin-right: 0;
	height: 80vh;
    transition: margin 0.5s; 
    width: 100%;	
    display: flex;
}

.content canvas {
	flex: 1;
}

.sidebar-hidden .content {
	margin-left: 0;
}
